RazorPagesLearning/RazorPagesLearning/obj/Debug/
RazorPagesLearning/RazorPagesLearning/bin/Debug/
RazorPagesLearning/RazorPagesLearning.Data/obj/Debug/
RazorPagesLearning/RazorPagesLearning.Data/bin/Debug/
RazorPagesLearning/RazorPagesLearning.Report/obj/Debug/
RazorPagesLearning/RazorPagesLearning.Report/bin/Debug/
RazorPagesLearning/RazorPagesLearning.Service/obj/Debug/
RazorPagesLearning/RazorPagesLearning.Service/bin/Debug/

